
  #list-panel {
    height: 15vh;
    background: rgb(15, 85, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#list {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none
    
  }



  body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWLhpkUo79vJpnBJTrGz8MZA1giJsZiBu49Wjt8lQU4V4oJUQ_&s");
    background-size: cover;
    margin: 0;
    padding: 20px
  }
  