
  #list-panel {
    height: 15vh;
    background: rgb(15, 85, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#list {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none
    
  }



  body {
    margin: 0;
    padding: 20px
  }
  