
  #list-panel {
    height: 10vh;
    background: rgb(15, 85, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #list {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  body {
    margin: 0;
  }
  